<ActionBar title="Contact Us" class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
</ActionBar>
<ScrollView orientation="vertical" class="page">
    <GridLayout class="m-5" rows="auto auto auto">
        <StackLayout class="p-10 border">
            <StackLayout>
                <Label class="h2" text="Contact Information"></Label>
                <Label class="body p-20" text="121, Clear Water Bay Road
Clear Water Bay, Kowloon
HONG KONG
Tel: +852 1234 5678
Fax: +852 8765 4321
Email:confusion@food.net" textWrap="true"></Label>
            </StackLayout>
            <GridLayout row="1" orientation="horizontal" rows="*" columns="*, *" class="m-t-20">
                <Button row="0" col="0" [text]="('fa-phone' | fonticon) + ' Call'" class="btn btn-rounded-sm btn-outline no-border fa "></Button>
                <Button row="0" col="1" [text]="('fa-envelope-o' | fonticon) + ' Email'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="sendEmail()"></Button>
            </GridLayout>
        </StackLayout>
     </GridLayout>
</ScrollView>
